{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "declaration-colon-newline-after": "always",
    "max-empty-lines": 1,
    "no-missing-end-of-source-newline": true
  }
}
